<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>My Portfolio</title>
  </head>
  <body>
    <div class="container">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-4">
            <h1>Hello, I'm Charles</h1>
          </div>
          <div class="col-sm-3">
            <h3>Welcome to My Portfolio!</h3>
          </div>
        </div>
        <div class="row">
          <a href="#">Projects</a>
          <div class="col-sm-6 col-md-4">
            <p>I have a varitey of projects both personal and caontact. They are built using Python, Swift and JavaScript</p>
          </div>
          <a href="#">About Me</a>
          <div class="col-sd-6 col-md-4">
            <p>A little about my Backgrounda and why I do what I do.</p>
          </div>
          <div class="clearfix visible-xs-block"></div>
          <a href="#">Testimonials</a>
          <div class="col-sm-6 col-md-4">
            What My clients and mentors have to say about my projects and work ethic.
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
